.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }

  .modal-body {
    flex: 1;
    overflow-y: auto;
  }
  
  .modal-close {
    background-color: #192121;
    color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition: background-color 0.2s;
  }

  .modal-close:hover {
    background-color: #DEB887;
  }